NODE_ENV=development
PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_NAME=comprefacil_db
DB_USER=comprefacil_user
DB_PASSWORD=comprefacil_password
RABBITMQ_URL=amqp://comprefacil_user:comprefacil_password@localhost:5672
